body {
    background: #bbe9db; 
}

form input[type=checkbox]{
    margin-left: 20px;
}

#formular {
	background: #9ba6a5; 
    width: 50%;
    text-align: center;
    border-radius: 2%;
    border: #9ba6a5 1px solid;
    box-shadow: 3px 3px 5px #747474;
    margin: 3% auto;
    padding-bottom: 2%;
    color: #ffffff;
}

button {
    border: #757a79 solid 1px;
    border-radius: 10px;
    padding: 2% 5%;
    color: #ffffff;
    font-size: 15px;
	background: #757a79; 
    cursor: pointer;
}

#kola {
    text-align: right;
    padding-right: 157px;
}